.Rproj.user
inst/doc
docs

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Mac file
.DS_Store

# compiling files
*.o
*.so

# vignette files
vignettes/*.bin
vignettes/*.csv
vignettes/*.desc
